<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Form Demo</title>
</head>
<body>
    <div align="center">
        <h1>Form Demo</h1>
        <a href="/login">Click here to login</a> <br>
        <a href="/displayCss">Click here for helloCss</a> <br>
        <a href="/radio-buttons">Click here for radio</a> <br>
        <a href="/greeting">Click here for JavaScript  greeting</a>  <br>
        <a href="/getproducts">Click here for JavaScript  get products</a> <br>
        <a href="/addproducts">Click here for JavaScript  add products</a> <br>
        <a href="/create-project">ADD projects </a> <br>
    </div>
</body>
</html>